<form [formGroup]="infoFormGroup">
  <!-- Start Infomation Contact -->
  <div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>
          ข้อมูลผู้ติดต่อ
        </nb-card-header>

        <nb-card-body>
          {{ infoFormGroup.value | json }}

          <div class="form-group row">
            <label for="businessType" class="label col-sm-3 col-form-label">
              ประเภทผู้ติดต่อ
            </label>
            <div class="col-sm-9">
              <nb-select
                selected="1"
                fullWidth
                id="businessType"
                formControlName="businessType"
                (selectedChange)="selectedBusinessType($event)"
              >
                <nb-option
                  *ngFor="let type of businessTypes"
                  [value]="type.value"
                  >{{ type.name }}
                </nb-option>
              </nb-select>
            </div>
          </div>

          <div class="form-group row" formGroupName="type">
            <label class="label col-sm-3 col-form-label">ประเภท</label>
            <div class="col-sm-9">
              <nb-checkbox
                style="padding-right: 1.5rem;"
                formControlName="customer"
                >ลูกค้า
              </nb-checkbox>
              <nb-checkbox
                style="padding-right: 1.5rem;"
                formControlName="vendor"
                >ผู้จำหน่าย
              </nb-checkbox>
            </div>
          </div>

          <div class="form-group row">
            <label for="taxId" class="label col-sm-3 col-form-label">
              {{
                infoFormGroup.get('businessType').value == 'บุคคลธรรมดา'
                  ? 'เลขประจำตัวประชาชน'
                  : 'เลขผู้เสียภาษี'
              }}
            </label>
            <div class="col-sm-9">
              <nb-form-field>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="taxId"
                  placeholder="0 0000 00000 00 0"
                  formControlName="taxId"
                />
              </nb-form-field>
            </div>
          </div>

          <div
            class="form-group row"
            *ngIf="infoFormGroup.get('businessType').value != 'บุคคลธรรมดา'"
          >
            <label for="name" class="label col-sm-3 col-form-label">
              ชื่อผู้ติดต่อ
            </label>
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                id="name"
                formControlName="name"
                placeholder=""
              />
            </div>
          </div>

          <div
            class="form-group row"
            *ngIf="infoFormGroup.get('businessType').value != 'บุคคลธรรมดา'"
          >
            <label for="branchCode" class="label col-sm-3 col-form-label">
              สาขา
            </label>

            <div class="col-sm-9">
              <nb-radio-group
                [(value)]="businessBranch"
                (valueChange)="selectedBranchCode($event)"
              >
                <nb-radio style="display: initial;" value="none">
                  ไม่มี
                </nb-radio>
                <nb-radio style="display: initial;" value="headquarters">
                  สำนักงานใหญ่
                </nb-radio>
                <nb-radio style="display: initial;" value="branch">
                  สาขา
                </nb-radio>
              </nb-radio-group>

              <input
                *ngIf="businessBranch === 'branch'"
                style="width: 80px;"
                type="text"
                nbInput
                placeholder="00000"
                formControlName="branchCode"
              />
            </div>
          </div>

          <div
            formGroupName="individual"
            *ngIf="businessBranch == 'บุคคลธรรมดา'"
          >
            <div class="form-group row">
              <label for="prefixName" class="label col-sm-3 col-form-label">
                คำนำหน้า
              </label>
              <div class="col-sm-9 row">
                <nb-select
                  selected="1"
                  class="col-sm-2"
                  formControlName="prefixName"
                >
                  <nb-option value="นาย">นาย</nb-option>
                  <nb-option value="นางสาว">นางสาว</nb-option>
                  <nb-option value="นาง">นาง</nb-option>
                </nb-select>
              </div>
            </div>

            <div class="form-group row">
              <label for="firstName" class="label col-sm-3 col-form-label">
                ขื่อ
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  fullWidth
                  nbInput
                  id="firstName"
                  placeholder="ชื่อจริง"
                  formControlName="firstName"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="lastName" class="label col-sm-3 col-form-label">
                นามสกุล
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  fullWidth
                  nbInput
                  id="lastName"
                  placeholder="นามสกุล"
                  formControlName="lastName"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="birthDate"
                fullWidth
                class="label col-sm-3 col-form-label"
              >
                วัน/เดือน/ปี เกิด
              </label>
              <div class="col-sm-9">
                <input
                  nbInput
                  fullWidth
                  placeholder="วัน/เดือน/ปี เกิด"
                  [nbDatepicker]="birtdatepicker"
                  id="birthDate"
                  formControlName="birthDate"
                />
                <nb-datepicker
                  #birtdatepicker
                  format="dd/MM/yyyy"
                ></nb-datepicker>
              </div>
            </div>
          </div>

          <div formGroupName="address">
            <div class="form-group row">
              <label for="addressLine" class="label col-sm-3 col-form-label">
                ที่อยู่ตามทะเบียน
              </label>
              <div class="col-sm-9">
                <textarea
                  rows="2"
                  nbInput
                  fullWidth
                  id="addressLine"
                  formControlName="line"
                  placeholder="ที่อยู่"
                ></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label
                for="addressSubDistrict"
                class="label col-sm-3 col-form-label"
              >
                แขวง/ตำบล
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="addressSubDistrict"
                  formControlName="subDistrict"
                  placeholder="แขวง/ตำบล"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="addressDistrict"
                class="label col-sm-3 col-form-label"
              >
                เขต/อำเภอ
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="addressDistrict"
                  formControlName="district"
                  placeholder="เขต/อำเภอ"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="addressProvince"
                class="label col-sm-3 col-form-label"
              >
                จังหวัด
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="addressProvince"
                  formControlName="province"
                  placeholder="จังหวัด"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="addressPostCode"
                class="label col-sm-3 col-form-label"
              >
                รหัสไปษณีย์
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="addressPostCode"
                  formControlName="postCode"
                  placeholder="รหัสไปษณีย์"
                />
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- End Infomation Contact -->

      <nb-card>
        <nb-card-header>
          ข้อมูลช่องทางติดต่อ
        </nb-card-header>
        <nb-card-body>
          <div formGroupName="shippingAddress">
            <div class="form-group row">
              <label for="shippingLine" class="label col-sm-3 col-form-label">
                ที่อยู่ส่งเอกสาร
              </label>
              <div class="col-sm-9">
                <nb-checkbox
                  style="padding-right: 1.5rem;"
                  (checkedChange)="copyAddress($event)"
                  value="customer"
                >
                  คัดลอกจากที่อยู่ตามทะเบียน</nb-checkbox
                >
                <textarea
                  rows="2"
                  nbInput
                  fullWidth
                  id="shippingLine"
                  formControlName="line"
                  placeholder="ที่อยู่"
                ></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label
                for="shippingSubDistrict"
                class="label col-sm-3 col-form-label"
              >
                แขวง/ตำบล
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="shippingSubDistrict"
                  formControlName="subDistrict"
                  placeholder="แขวง/ตำบล"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="shippingDistrict"
                class="label col-sm-3 col-form-label"
              >
                เขต/อำเภอ
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="shippingDistrict"
                  formControlName="district"
                  placeholder="เขต/อำเภอ"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="shippingProvince"
                class="label col-sm-3 col-form-label"
              >
                จังหวัด
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="shippingProvince"
                  formControlName="province"
                  placeholder="จังหวัด"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="shippingPostCode"
                class="label col-sm-3 col-form-label"
              >
                รหัสไปษณีย์
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="shippingPostCode"
                  formControlName="postCode"
                  placeholder="รหัสไปษณีย์"
                />
              </div>
            </div>
          </div>
          <!-- เว้นบรรทัด -->
          <div class="form-group row"></div>

          <div class="form-group row">
            <label for="phone" class="label col-sm-3 col-form-label">
              เบอร์โทรศัพท์
            </label>
            <div class="col-sm-9">
              <nb-form-field>
                <nb-icon nbSuffix icon="phone-outline" pack="eva"></nb-icon>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="phone"
                  formControlName="phone"
                  placeholder=""
                />
              </nb-form-field>
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="label col-sm-3 col-form-label">
              อีเมล
            </label>
            <div class="col-sm-9">
              <nb-form-field>
                <nb-icon nbSuffix icon="at-outline" pack="eva"></nb-icon>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="email"
                  formControlName="email"
                  placeholder=""
                />
              </nb-form-field>
            </div>
          </div>

          <div class="form-group row">
            <label for="line" class="label col-sm-3 col-form-label">
              ไลน์ไอดี
            </label>
            <div class="col-sm-9">
              <nb-form-field>
                <nb-icon nbSuffix icon="hash-outline" pack="eva"></nb-icon>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="line"
                  formControlName="line"
                  placeholder=""
                />
              </nb-form-field>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <!-- End Column Left-->

    <!-- End Column Right-->
    <div class="col-lg-6">
      <!-- Start Primary Contact -->
      <nb-card>
        <nb-card-header>
          รายละเอียดผู้ติดต่อหลัก
        </nb-card-header>
        <nb-card-body>
          <div formGroupName="primaryContactInfo">
            <div class="form-group row">
              <label for="primaryName" class="label col-sm-3 col-form-label">
                ชื่อผู้ติดต่อ
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  fullWidth
                  nbInput
                  id="primaryName"
                  formControlName="contactName"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="primaryPhone" class="label col-sm-3 col-form-label">
                เบอร์โทรศัพท์
              </label>
              <div class="col-sm-9">
                <nb-form-field>
                  <nb-icon nbSuffix icon="phone-outline" pack="eva"></nb-icon>
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    id="primaryPhone"
                    formControlName="phone"
                    placeholder=""
                  />
                </nb-form-field>
              </div>
            </div>

            <div class="form-group row">
              <label for="primaryEmail" class="label col-sm-3 col-form-label">
                อีเมล
              </label>
              <div class="col-sm-9">
                <nb-form-field>
                  <nb-icon nbSuffix icon="at-outline" pack="eva"></nb-icon>
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    id="primaryEmail"
                    formControlName="email"
                    placeholder=""
                  />
                </nb-form-field>
              </div>
            </div>

            <div class="form-group row">
              <label for="primaryLine" class="label col-sm-3 col-form-label">
                ไลน์ไอดี
              </label>
              <div class="col-sm-9">
                <nb-form-field>
                  <nb-icon nbSuffix icon="hash-outline" pack="eva"></nb-icon>
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    id="primaryLine"
                    formControlName="line"
                    placeholder=""
                  />
                </nb-form-field>
              </div>
            </div>
          </div>
        </nb-card-body> </nb-card
      ><!-- End Primary Contact -->
      <!-- Bank info -->
      <nb-card>
        <nb-card-header>
          ข้อมูลธนาคาร
        </nb-card-header>
        <nb-card-body>
          <div formGroupName="bankAccount">
            <div class="form-group row">
              <label for="accountName" class="label col-sm-3 col-form-label">
                ชื่อบัญชี
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  fullWidth
                  nbInput
                  id="accountName"
                  formControlName="accountName"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="accountNumber" class="label col-sm-3 col-form-label">
                เลขบัญชี
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="accountNumber"
                  formControlName="accountNumber"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="bankName" class="label col-sm-3 col-form-label">
                สาขาธนาคาร
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="bankName"
                  formControlName="bankName"
                  placeholder=""
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="accountType" class="label col-sm-3 col-form-label">
                ประเภทบัญชี
              </label>
              <div class="col-sm-9">
                <nb-radio-group formControlName="accountType">
                  <nb-radio style="display: initial;" name="accountType" value="saving">
                    ออมทรัพย์
                  </nb-radio>
                  <nb-radio style="display: initial;" name="accountType"  value="current">
                    กระแสรายวัน
                  </nb-radio>
                </nb-radio-group>
              </div>
            </div>
          </div>

        </nb-card-body>
      </nb-card>
    </div>
  </div>
</form>
