@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card.wraper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: nb-theme(slide-out-background);
  }

  .wraper-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .wraper-footer {
    display: flex;
    justify-content: space-between;
    // margin: -0.5rem;
  }

  nb-checkbox {
    margin-bottom: 1rem;
  }

  .form-inline [fullWidth] {
    flex: 1;
  }

  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }

  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }

  .buttons-row {
    margin: -0.5rem;
    display: flex;
    justify-content: space-between;
  }

  button[nbButton] {
    margin: 0.5rem;
  }

  .error-message {
    color: nb-theme(color-danger-default);
    margin: 0.5rem;
  }
}
