<nb-card class="wraper">
  <nb-card-header class="wraper-header">
    <div style="align-self: center;">
      <h5>
        <nb-icon
          icon="people"
          [options]="{ animation: { type: 'shake' } }"
          class="header"
        >
        </nb-icon>
        เพิ่มผู้ติดต่อ
      </h5>
    </div>

    <span>
      <input type="text" nbInput placeholder="Disabled Text field" disabled />
    </span>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="ข้อมูลหลัก">
        <!-- Start Infomation Contact -->
        <ngx-contact-new-info></ngx-contact-new-info>
      </nb-tab>
      <nb-tab tabTitle="รูปโปรไฟล์">
        <span>Content #2</span>
      </nb-tab>
      <nb-tab tabTitle="รถขนสินค้า">
        <span>Content #3</span>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>

  <nb-card-footer class="wraper-footer">
    <div>
      <button nbButton status="basic" class="margin-zero" (click)="cancel()">ปิดหน้าต่าง</button>
    </div>
    <div>
      <button nbButton status="info" class="margin-zero">บันทึกแล้วปิด</button>
    </div>
  </nb-card-footer>
</nb-card>
